    .mdc-button {
        background: linear-gradient(to bottom, #ff0844 0%, #ffb199 100%);
        margin: 0 1rem 1rem 0;
    }

    .mdc-button:hover {
        background: rgba(255, 0, 0, 0.747);
        color: #ffffff;
    }

    mat-icon {
        color: #ff0844;
    }

    .add-customer {
        color: #fafafa !important;
    }

    .content-table {
        margin-top: 1rem;
    }

    .table-header {
        text-align: center;
        width: 200px;
    }

    .user-id {
        width: 50px;
    }

    .mat-mdc-cell {
        text-align: center;
    }

    mat-toolbar {
        border: .01rem solid #738092;
        border-radius: 10px;
    }

    .btn-action {
        color: #ff0844;
    }

    .btn-action1 {
        color: #29323c;
    }

    .spinner {
        //posición del spinner
        margin: 0 auto;
    }

     ::ng-deep .mat-mdc-progress-spinner {
        //color del spinner
        --mdc-circular-progress-active-indicator-color: #ff0844;
    }
