.mdc-button {
    background: linear-gradient(to bottom, #ff0844 0%, #ffb199 100%);
    margin: 0 1rem 1rem 0;
}
// Estilos generales
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

.contenedorTodo {
    top: 40px;
    padding-top: 100px;
    width: 750px;
    margin: auto;
    position: relative;
}

.cajaTrasera {
    width: 100%;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    background: linear-gradient(to bottom, #363636d2, #d6d6d6);
}

.cajaTrasera div {
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
}

.cajaTrasera button:hover {
    background: rgba(255, 0, 0, 0.747);
    color: #ffffff;
}

// Estilos de los formularios

.contenedorLoginRecuperar {
    display: flex;
    align-items: center;
    position: relative;
    top: -180px;
    left: 10px;
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedorLoginRecuperar form {
    width: 100%;
    padding: 20px;
    position: absolute;
}

.contenedorLoginRecuperar form button {
    padding: 10px 40px;
    background: #46a2fd;
    color: white;
    cursor: pointer;
}

.mat-mdc-form-field-error {
    display: block;
}

.formularioLogin {
    opacity: 1;
    display: block;
}

.formularioRecuperar {
    opacity: 1;
    display: none;
}