<!-- Caja madre, aqui se encuentra  todo el codigo para el inicio de sesión -->
<div class="contenedorTodo select-none">
    <!-- Caja trasera donde se encuentran el titulo, subtitulo y el boton del inicio de sesión -->
    <div class="cajaTrasera py-3 border-round-3xl">
        <div class="cajaTraseraLogin">
            <img src="../../assets/img/logo_prueba.png" class="w-6 ml-8">
            <h2 class="text-black-alpha-90">Correo de supervisor</h2>
            <p class="text-sm text-black-alpha-90">supervisor@cencoe.com.co</p>
            <button mat-button (click)="logIn()" class="text-white-alpha-90">Información</button>
        </div>
        <div class="cajaTraseraRecuperar">
            <img src="../../assets/img/logo_prueba.png" class="w-6 ml-8">
            <h2 class="text-black-alpha-90">¿Olvidaste tu contraseña?</h2>
            <p class="text-sm text-black-alpha-90">Contactate con tu supervisor para restablecerla</p>
            <button mat-button (click)="info()" class="text-white-alpha-90">Información</button>
        </div>
    </div>
    <!-- Caja de los formularios de login -->
    <div class="contenedorLogin w-6 text-center text-white m-2">
        <!-- Formulario de login -->
        <form [formGroup]="loginForm" (ngSubmit)="logIn()"
            class="formularioLogin bg-black-alpha-40 border-round-3xl text-base">
            <mat-card-title class="font-bold mr-3 text-center text-2xl">Iniciar Sesión</mat-card-title>
            <mat-form-field class="w-11 m-3">
                <input matInput formControlName="username" placeholder="Usuario"
                    class="mt-2 p-1 border-none text-base outline-none">
                <mat-error *ngIf="loginForm.get('username')?.hasError && loginForm.get('username')?.touched">El
                    usuario es requerido.</mat-error>
            </mat-form-field>
            <mat-form-field class="w-11 m-3">
                <input matInput type="password" formControlName="password" placeholder="Contraseña"
                    class="mt-2 p-1 border-none text-base outline-none">
                <mat-error
                    *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty) || loginForm.get('password')?.touched">La
                    contraseña es requerida.</mat-error>
            </mat-form-field>
            <button mat-raised-button type="" [disabled]="loginForm.invalid"
                class="btn_Ingresar w-6 mt-2 border-none text-base outline-none">Ingresar</button>
        </form>
    </div>
</div>