<div class="container-box mat-elevation-z6">
  <!-- Contenido del contenedor -->

  <mat-card-header class="p-0 justify-content-center mb-2">
    <mat-card-title>Seleccione Roll</mat-card-title>
  </mat-card-header>

  <mat-card-content class="mat-elevation-z6">
    <mat-selection-list class="create-list">
      <mat-list-option>Administrador</mat-list-option>
      <mat-list-option>Supervisor</mat-list-option>
      <mat-list-option>Agente</mat-list-option>

    </mat-selection-list>

    <mat-card-actions class="btn-select justify-content-center">
      <button mat-button color="primary">Aceptar</button>
    </mat-card-actions>
  </mat-card-content>
</div>