<div class="container-box h-auto">
    <mat-card-title mat-dialog-title>{{ titulo }} </mat-card-title>
    <mat-card-subtitle>{{ subtitulo }}</mat-card-subtitle>
    <mat-dialog-content>
        <mat-card-content class="mat-elevation-z6">
            <!-- Formulario registro usuario -->
            <form class="create-group" [formGroup]="groupForm">
                <section class="create-group__campos-width">
                    <!-- Campo Nombres -->
                    <mat-form-field class="example-full-width">
                        <mat-label>Nombre de grupo</mat-label>
                        <input matInput formControlName="groupName" placeholder="Nombre Completo" type="text" />
                        <mat-error *ngIf="groupForm.get('groupName')?.hasError('required')">Nombres necesarios
                        </mat-error>
                    </mat-form-field>
                    <div class="row">
                        <div class="column">
                            <mat-form-field class="example-full-width">
                                <mat-label>Fecha inicio</mat-label>
                                <input [min]="maxDate" formArrayName="fechaInicio" matInput [matDatepicker]="picker" autocapitalize="off" formControlName="fechaInicio">
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker touchUi #picker></mat-datepicker>
                            </mat-form-field>
                            <div class="error">
                            </div>
                        </div>
                        <div class="column">
                            <mat-form-field class="example-full-width">
                                <mat-label>Fecha final</mat-label>
                                <input [min]="maxDate" formArrayName="fechaFinal" matInput [matDatepicker]="picker1" autocapitalize="off" formControlName="fechaFinal">
                                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker touchUi #picker1></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <mat-form-field>
                            <mat-select formControlName="grupos">
                                <mat-option *ngFor="let t of team" [value]="t.teamId">
                                    {{t.teamName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </section>
            </form>
            <mat-card-actions class="actions-btns">
                <!-- Botones de acciones -->
                <button mat-button cdkFocusInitial (click)="executionMesssage()" class="btn-cancel-dialog">
                  Cancelar
              </button>
                <button mat-button type="submit" class="btn-saved-dialog" [disabled]="groupForm.invalid" (click)="showButton()" [style.display]="this.data.tipo === 'ver' ? 'none' : 'inline-block'" [style.outline]="this.data.tipo === 'ver' ? 'none' : 'auto' ">
                  {{ this.data.tipo == "crear" ? "Guardar" : "Actualizar" }}
              </button>
            </mat-card-actions>
        </mat-card-content>
    </mat-dialog-content>
</div>
