<mat-card>
    <mat-selection-list>
        <mat-list-option>Primera opción</mat-list-option>
        <mat-list-option>Primera opción</mat-list-option>
        <mat-list-option>Primera opción</mat-list-option>
        <mat-list-option>Primera opción</mat-list-option>
        <mat-list-option>Primera opción</mat-list-option>
    </mat-selection-list>
</mat-card>
<mat-card-actions class="actions-btns">
    <div class="btn-groups flex flex-column">
        <button mat-raised-button class="w-5">Agregar</button>
    </div>
</mat-card-actions>