<mat-toolbar class="flex justify-content-between h-auto ">
    <mat-card-header class="p-0">
        <mat-card-title>{{titulo}}</mat-card-title>
        <mat-card-subtitle>{{subtitulo}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-actions class="mt-3 p-0">
        <button mat-raised-button color="primary" (click)="manageProvider('crear')">
                <mat-icon class="add-campaign">add_circle</mat-icon>
                Agregar Proveedor</button>
    </mat-card-actions>
</mat-toolbar>
 
<mat-divider class="mt-3"></mat-divider>
<mat-card class="container-table">
    <mat-card-content class="table-provider">
        <!-- [dataSource]="listprovider"-->
        <table mat-table class="mat-elevation-z8">
            <!--Columana Id-->
            <ng-container matColumnDef="providerId">
                <th mat-header-cell *matHeaderCellDef class="table-header">No.</th>
                <td class="table-cell" mat-cell *matCellDef="let p"> {{p.providerId}} </td>
            </ng-container>
            <!--Columna nombre de proveedor-->
            <ng-container matColumnDef="providerName">
                <th mat-header-cell *matHeaderCellDef class="table-header">Proveedor</th>
                <td class="table-cell" mat-cell *matCellDef="let p"> {{p.providerName}} </td>
            </ng-container>
            <!--Columna Direccion-->
            <ng-container matColumnDef="providerAddress">
                <th mat-header-cell *matHeaderCellDef class="table-header">Direccion</th>
                <td class="table-cell" mat-cell *matCellDef="let p"> {{p.providerAddress}} </td>
            </ng-container>
            <!--Columna Email-->
            <ng-container matColumnDef="providerEmail">
                <th mat-header-cell *matHeaderCellDef class="table-header">Email</th>
                <td class="table-cell" mat-cell *matCellDef="let p"> {{p.providerEmail}} </td>
            </ng-container>
            <!--Columna Contacto-->
            <ng-container matColumnDef="providerContact">
                <th mat-header-cell *matHeaderCellDef class="table-header">Contacto</th>
                <td class="table-cell" mat-cell *matCellDef="let p"> {{p.providerContact}} </td>
            </ng-container>
            <!--Columna Acciones-->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef class="table-header">Actions</th>
                <td class="table-cell" md-cell *matCellDef="let p">
                    <button mat-icon-button (click)="manageProvider('editar')">
                <mat-icon class="btn-action1">edit_outline</mat-icon>
            </button>
                    <button mat-icon-button (click)="eliminarProvider()">
                <mat-icon class="btn-action">delete_outline</mat-icon>
            </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [length]="totalItems" [pageSizeOptions]="pageSizeOptions" [pageSize]="3" (page)="onPageChange($event)">
        </mat-paginator>
    </mat-card-content>
    <!-- Spinner para cuando no hay datos en las tablas -->
    <!-- <mat-spinner *ngIf="!listprovider.length" class="spinner" diameter="50"></mat-spinner> -->
</mat-card>
<!-- Mensaje para cuando no hay datos en las tablas -->
<div class="messageNull" *ngIf="listprovider.length == 0">No hay Grupos para mostrar!</div>
