.mdc-button {
    cursor: pointer;
    background: linear-gradient(to bottom, #ff0844 0%, #ffb199 100%);
    color: #fafafa;
}

.table-provider {
    flex-grow: 1;
}

.mat-paginator {
    align-self: center;
}

.mdc-button:hover {
    background: rgba(255, 0, 0, 0.747);
    color: #ffffff;
}

.table-header {
    text-align: center;
}

.table-cell {
    text-align: center;
}

.example-spacer {
    flex: 1 1 auto;
}

.btn-action {
    color: #ff0844;
}

.btn-action1 {
    color: #29323c;
}

.spinner {
    //posición del spinner
    margin: 0 auto;
}
.mat-divider {
    border: none;
    height: 1px;
    background: linear-gradient(to right, #ff0844, #ff3e75, #ff7fa3, #ffb7d6, #ffd9ef);
    margin: 20px 0;
    box-shadow: 0 4px 6px rgba(255, 8, 68, 0.4);
}
mat-toolbar {
    border: .01rem solid #738092;
    border-radius: 10px;
}

::ng-deep .mat-mdc-progress-spinner {
    //color del spinner
    --mdc-circular-progress-active-indicator-color: #ff0844;
}

h2 {
    text-align: center;
    color: #ff0844;
    animation: fadeInDown 5s ease-in-out;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(150px);
    }
    to {
        opacity: 1;
        transform: translateY(-50px);
    }
}