mat-form-field {
    width: 100%;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    margin: opx 5px;
}

mat-icon {
    cursor: pointer;
    color: #ff0844;
    margin-left: 5px;
}

mat-icon:hover {
    color: #ffb199;
    /* Cambia el color cuando se pasa el ratón sobre el icono */
}

mat-card-actions {
    justify-content: flex-end;
    .btn-saved-dialog:not([disabled]) {
        margin-right: 0.5rem;
        background: linear-gradient(to bottom, #ff0844 0%, #ffb199 100%);
        color: aliceblue;
    }
    .btn-saved-dialog[disabled] {
        margin-right: 0.5rem;
        background-color: #ccc;
        color: #666;
    }
    .btn-cancel-dialog {
        background: linear-gradient(-22deg, #29323c 0%, #485563 100%);
        color: aliceblue;
        margin-right: 0.5rem;
    }
}

.btn-selectCampaign {
    margin-right: 0.5rem;
    color: aliceblue;
    margin: 0 1rem 1rem 0;
}

.mdc-button {
    background: linear-gradient(to bottom, #ff0844 0%, #ffb199 100%);
}
