<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button class="btn-toolbar" (click)="showMenu()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>{{ title }}</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="btn-toolbar">
        <mat-icon>perm_identity</mat-icon>
    </button>
    <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>settings</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="../tipo-documento">Tipo Documentos</button>
        <button mat-menu-item routerLink="../role">Roles</button>
    </mat-menu>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav class="sidenav" class="mat-elevation-z6" mode="side" opened
        [ngClass]="{'menuOpen':collapsed, 'menuClosed':!collapsed}">
        <div class="header-nav">
            <img src="../../assets/img/logo_prueba.png" [style.width]="!collapsed ? '60px' : '65px'"
                [style.height]="!collapsed ? '60x|px' : '65px'">
            <span class="header-title" *ngIf="collapsed">{{title}}</span>
        </div>
        <mat-nav-list>
            <mat-divider></mat-divider>

            <ng-container *ngFor="let menuItem of menuItems; let last = last">
                <!-- Elementos del menú -->
                <mat-list-item *ngIf="!last" [routerLink]="menuItem.route" routerLinkActive="active-link"
                    #rla="routerLinkActive" [activated]="rla.isActive" matTooltip="{{ menuItem.nombre }}"
                    matTooltipPosition="right">
                    <mat-icon class="icon" matListItemIcon>{{ menuItem.icon }}</mat-icon>
                    <span class="item-label" matListItemTitle>{{ menuItem.label }}</span>
                </mat-list-item>
            </ng-container>

            <mat-list-item class="config-icon" [routerLink]="menuItems[menuItems.length -1].route" routerLink="active-link"
                matTooltip="{{ menuItems[menuItems.length - 1].nombre }}" matTooltipPosition="right">
                <mat-icon class="icon" matListItemIcon>{{ menuItems[menuItems.length - 1].icon }}</mat-icon>
                <span class="item-label" matListItemTitle>{{ menuItems[menuItems.length - 1].label }}</span>
            </mat-list-item>

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content" [style.margin-left]="!collapsed ? '70px' : '250px'">
        <!-- Contenido de la página -->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>