<mat-toolbar class="flex justify-content-between h-auto ">
    <mat-card-header class="p-0">
        <mat-card-title>Campañas</mat-card-title>
        <mat-card-subtitle> Campañas registradas en la aplicación</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions class="mt-3 p-0">
        <button mat-raised-button color="primary" (click)="manageCampaign('crear')">
            <mat-icon class="add-campaign">add_circle</mat-icon>
            Agregar campañas
        </button>
        
    </mat-card-actions>
</mat-toolbar>
<mat-divider class="mt-3"></mat-divider>
<mat-card>
    <mat-card-content>
        <table mat-table class="mat-elevation-z8" [dataSource]="campaign">
            <!-- Columna Id-->
            <ng-container matColumnDef="campaign_id">
                <th mat-header-cell *matHeaderCellDef class="table-header campaign_id"> No. </th>
                <td mat-cell *matCellDef="let campaign"> {{campaign.campaignId}}

                </td>

            </ng-container>
            <ng-container matColumnDef="campaign_name">
                <th mat-header-cell *matHeaderCellDef class="table-header campaign_name"> Nombre </th>
                <td mat-cell *matCellDef="let campaign"> {{campaign.campaignName}} </td>
            </ng-container>
            <ng-container matColumnDef="campaign_team">
                <th mat-header-cell *matHeaderCellDef class="table-header campaign_team"> Grupos </th>
                <td mat-cell *matCellDef="let campaign"> {{campaign.campaignTeam}} </td>
            </ng-container>
            <ng-container matColumnDef="campaign_provider">
                <th mat-header-cell *matHeaderCellDef class="table-header campaign_provider"> Proveedores </th>
                <td mat-cell *matCellDef="let campaign"> {{campaign.campaignProvider}} </td>
            </ng-container>
            <ng-container matColumnDef="campaign_start_date">
                <th mat-header-cell *matHeaderCellDef class="table-header campaign_start_date">Fecha de inicio</th>
                <td mat-cell *matCellDef="let campaign"> {{campaign.campaignStartDate | date: 'dd/MM/yyyy'}} </td>
            </ng-container>
            <ng-container matColumnDef="campaign_end_date">
                <th mat-header-cell *matHeaderCellDef class="table-header campaign_end_date">Fecha final</th>
                element.campaign_end_date
                <td mat-cell *matCellDef="let campaign"> {{campaign.campaignEndDate | date: 'dd/MM/yyyy'}} </td>
            </ng-container>
            <ng-container matColumnDef="campaign_observations">
                <th mat-header-cell *matHeaderCellDef class="table-header campaign_observations">Observaciones</th>
                <td mat-cell *matCellDef="let campaign"> {{campaign.campaignObservations}} </td>
            </ng-container>
            <ng-container matColumnDef="campaign_state">
                <th mat-header-cell *matHeaderCellDef class="table-header campaign_state">Estado</th>
                <td mat-cell *matCellDef="let campaign"> {{campaign.campaignState}} </td>
            </ng-container>
            <!-- Columna Acciones -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef class="table-header actions"> </th>
                <td mat-cell *matCellDef="let campaign">
                    <button>
                          <mat-icon class="btn-action1" (click)="manageCampaign('editar')">edit_outline</mat-icon>
                      </button>
                    <button mat-icon-button (click)="eliminarCampaign()">
                          <mat-icon class="btn-action">delete_outline</mat-icon>
                      </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns" class="row-table"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [length]="totalResultados" [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page of users">
    </mat-paginator>
    </mat-card-content>
    <!-- Spinner para cuando no hay datos en las tablas -->
    <mat-spinner *ngIf="!campaign.length" class="spinner" diameter="50"></mat-spinner>
</mat-card>
<!-- Mensaje para cuando no hay datos en las tablas -->
<div class="messageNull" *ngIf="campaign.length == 0">No hay Campañas para mostrar!</div>
<!-- Mostrar mensaje de carga o error -->
<div *ngIf=" isLoading; else error ">
</div>
<ng-template #error>
    Hubo un error al cargar los campaign.
</ng-template>
