.mdc-button {
    background: linear-gradient(to bottom, #ff0844 0%, #ffb199 100%);
    margin: 0 1rem 1rem 0;
}

.add-campaign {
    color: #fafafa !important;
}

.content-table {
    margin-top: 1rem;
}

.table-header {
    text-align: center;
    width: 200px;
}

.campaign-id {
    width: 50px;
}

.mat-mdc-cell {
    text-align: center;
}

mat-toolbar {
    border: .01rem solid #738092;
    border-radius: 10px;
}

mat-divider {
    margin: auto;
    background-color: #fafafa;
    width: 90%;
    margin-bottom: 1rem;
}