.mdc-button {
    background: linear-gradient(to bottom, #ff0844 0%, #ffb199 100%);
    margin: 0 1rem 1rem 0;
}
.mdc-button:hover{
    background: rgba(255, 0, 0, 0.747);
    color: #ffffff;
}
.btn-action{
    color:#ff0844;
}
.btn-action1 {
    color:#29323c;
}

.add-customer {
    color: #fafafa !important;
}

.content-table {
    margin-top: 1rem;
}

.table-header {
    text-align: center;
    width: 200px;
}

.customer-id {
    width: 50px;
}

.mat-mdc-cell {
    text-align: center;
}

.mat-divider {
    border: none; 
    height: 1px; 
    background: #ff0844;
    margin: 20px 0; 
    box-shadow: 0 4px 6px rgba(255, 8, 68, 0.4); 
    width: 50%;
  }