<mat-card>
    <mat-card-header>
        <mat-card-title>Usuarios</mat-card-title>
        <mat-card-subtitle>Usuarios registrados en la aplicación</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions align="end">
        <button mat-raised-button color="primary" (click)="manageUser('crear')">Agregar usuario</button>
    </mat-card-actions>
</mat-card>
<mat-card class="content-table">
    <mat-card-content class="table">

        <table mat-table class="mat-elevation-z6" [dataSource]="user">

            <!-- Columna Id-->
            <ng-container matColumnDef="userId">
                <th mat-header-cell *matHeaderCellDef class="table-header user-id"> No. </th>
                <td mat-cell *matCellDef="let users"> {{users.userId}} </td>
            </ng-container>

            <!-- Columna Nombre -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef class="table-header user-name"> Nombre </th>
                <td mat-cell *matCellDef="let users"> {{users.userName}} {{users.userLastName}} </td>
            </ng-container>

            <!-- Columna Direccion -->
            <ng-container matColumnDef="direccion">
                <th mat-header-cell *matHeaderCellDef class="table-header user-addres"> Dirección </th>
                <td mat-cell *matCellDef="let users"> {{users.userAddress}} </td>
            </ng-container>

            <!-- Columna Correo -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef class="table-header user-email"> Correo </th>
                <td mat-cell *matCellDef="let users"> {{users.userEmail}} </td>
            </ng-container>

            <!-- Columna Acciones -->
            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef class="table-header actions">  </th>
                <td mat-cell *matCellDef="let users">
                    <button mat-icon-button (click)="manageUser('ver')">
                        <mat-icon aria-label="Ver detalles">visibility</mat-icon>
                    </button> 
                    <button mat-icon-button>
                        <mat-icon aria-label="Editar registro">edit</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns" class="row-table"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <!-- Mostrar mensaje de carga o error -->
        <div *ngIf="isLoading; else error">
        </div>
        <ng-template #error>
            Hubo un error al cargar los usuarios.
        </ng-template>



    </mat-card-content>
</mat-card>
