<mat-toolbar class="flex justify-content-between h-auto ">
    <mat-card-header class="p-0">
        <mat-card-title>Campañas</mat-card-title>
        <mat-card-subtitle>Campañas registrados en la aplicación</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions class="mt-3 p-0">
        <button mat-raised-button color="primary"><!--(click)="manageCampaigns('crear')"-->
        <mat-icon class="add-campaigns">add_circle</mat-icon>
        Agregar Campañas
        </button>
    </mat-card-actions>
</mat-toolbar>
<mat-divider class="mt-3"></mat-divider>

<mat-card class="content-table">
    <mat-card-content class="table">

        <table mat-table class="mat-elevation-z6">

            <!-- Columna campaign_id-->
            <ng-container matColumnDef="campaign_id">
                <th mat-header-cell *matHeaderCellDef class="table-header campaign_id"> No. </th>
                <td mat-cell *matCellDef="let campaigns"> {{campaigns.campaign_id}} </td>
            </ng-container>

            <!-- Columna campaign_name -->
            <ng-container matColumnDef="campaign_name">
                <th mat-header-cell *matHeaderCellDef class="table-header campaign_name"> campaign_name </th>
                <td mat-cell *matCellDef="let campaigns"> {{campaigns.campaign_name}} {{campaigns.campaign_name}} </td>
            </ng-container>

            <!-- Columna campaign_capacity -->
            <ng-container matColumnDef="campaign_capacity">
                <th mat-header-cell *matHeaderCellDef class="table-header campaign_capacity"> campaign_capacity </th>
                <td mat-cell *matCellDef="let campaigns"> {{campaigns.campaign_capacity}} </td>
            </ng-container>

            <!-- Columna campaign_start_date -->
            <ng-container matColumnDef="campaign_start_date">
                <th mat-header-cell *matHeaderCellDef class="table-header campaign_start_date"> campaign_end_date </th>
                <td mat-cell *matCellDef="let campaigns"> {{campaigns.campaign_start_date}} </td>
            </ng-container>
            <!-- Columna campaign_end_date -->
            <ng-container matColumnDef="campaign_end_date">
                <th mat-header-cell *matHeaderCellDef class="table-header campaign_end_date"> campaign_end_date </th>
                <td mat-cell *matCellDef="let campaigns"> {{campaigns.campaign_end_date}} </td>
            </ng-container>
            <!-- Columna campaign_observations -->
            <ng-container matColumnDef="campaign_observations">
                <th mat-header-cell *matHeaderCellDef class="table-header campaign_observations"> campaign_observations </th>
                <td mat-cell *matCellDef="let campaigns"> {{campaigns.campaign_observations}} </td>
            </ng-container>
            <!-- Columna campaign_state -->
            <ng-container matColumnDef="campaign_state">
                <th mat-header-cell *matHeaderCellDef class="table-header campaign_state"> campaign_state </th>
                <td mat-cell *matCellDef="let campaigns"> {{campaigns.campaign_state}} </td>
            </ng-container>
            <!-- Columna Acciones -->
            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef class="table-header actions"> </th>
                <td mat-cell *matCellDef="let users">
                    <button mat-icon-button>
                      <mat-icon aria-label="Ver detalles">visibility</mat-icon>
                  </button>
                    <button mat-icon-button>
                      <mat-icon aria-label="Editar registro">edit</mat-icon>
                  </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns" class="row-table"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <!-- Mostrar mensaje de carga o error -->
        <div *ngIf="isLoading; else error">
        </div>
        <ng-template #error>
            Hubo un error al cargar las campañas.
        </ng-template>



    </mat-card-content>
</mat-card>