<div class="container-box mat-elevation-z6">
  <!-- Contenido del contenedor -->

  <mat-card-header class="p-0 justify-content-center mb-2">
    <mat-card-title>Seleccionar Usuarios</mat-card-title>
  </mat-card-header>

  <mat-form-field class="search-field">
    <input matInput type="text" placeholder="Buscar...">
    <button mat-button  matSuffix (click)="search()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>

  <mat-card-content class="mat-elevation-z6">
    <!-- Contenido del card content -->

    <mat-selection-list class="create-list">
      <mat-list-option>Primera opción Primera opción</mat-list-option>
      <mat-list-option>Primera opción</mat-list-option>
      <mat-list-option>Primera opción</mat-list-option>
      <mat-list-option>Primera opción</mat-list-option>
      <mat-list-option>Primera opción</mat-list-option>
    </mat-selection-list>

    <mat-card-actions class="btn-select justify-content-center">
      <button mat-button color="primary">Aceptar</button>
    </mat-card-actions>
  </mat-card-content>
</div>

