<h2 mat-dialog-title>
    Editar campaña</h2>
<form [formGroup]="form" (ngSubmint)="addEditarCampaign">
    <mat-dialog-content>
        <div class="row">
            <div class="column">
                <mat-form-field appearance="fill">
                    <mat-label>Identificacion</mat-label>
                    <input formArrayName="id" matInput placeholder="" formControlName="id">
                </mat-form-field>
                <div class="error">
                    <span *ngIf="form.get('id')?.hasError('required') && form.get('id')?.touched">
                      Campo <strong>Requerido</strong>
                    </span>
                    <span *ngIf="form.get('id')?.hasError('pattern')">
                      Solo <strong>Numeros</strong>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <mat-form-field appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input formArrayName="nombre" matInput placeholder="" autocapitalize="off" formControlName="nombre">
                </mat-form-field>
                <div class="error">
                    <span *ngIf="form.get('nombre')?.hasError('required') && form.get('nombre')?.touched">
                      Campo <strong>Requerido</strong>
                    </span>
                    <span *ngIf="form.get('nombre')?.hasError('maxlength')">
                      Solo <strong>20 caracteres</strong>
                    </span>
                </div>
            </div>
            <div class="column">
                <mat-form-field appearance="fill">
                    <mat-label>Capacidad</mat-label>
                    <input formArrayName="capacidad" matInput placeholder="" autocapitalize="off" formControlName="capacidad">
                </mat-form-field>
                <div class="error">
                    <span *ngIf="form.get('capacidad')?.hasError('required') && form.get('capacidad')?.touched">
                    Campo <strong>Requerido</strong>
                  </span>
                    <span *ngIf="form.get('capacidad')?.hasError('maxlength')">
                    Solo <strong>20 caracteres</strong>
                  </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <mat-form-field class="example-full-width">
                    <mat-label>Fecha inicio</mat-label>
                    <input [min]="maxDate" formArrayName="fechaInicio" matInput [matDatepicker]="picker" autocapitalize="off" formControlName="fechaInicio">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker></mat-datepicker>
                </mat-form-field>
                <div class="error">
                    <span *ngIf="form.get('fechaInicio')?.hasError('required') && form.get('fechaInicio')?.touched">
                  Campo <strong>Requerido</strong>
                </span>
                </div>
            </div>
            <div class="column">
                <mat-form-field class="example-full-width">
                    <mat-label>Fecha final</mat-label>
                    <input [min]="maxDate" formArrayName="fechaFinal" matInput [matDatepicker]="picker1" autocapitalize="off" formControlName="fechaFinal">
                    <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker1></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="colum">
            <mat-form-field appearance="outline">
                <mat-label>Observaciones</mat-label>
                <input formArrayName="observaciones" matInput placeholder="" autocapitalize="off" formControlName="observaciones">
            </mat-form-field>
            <div class="error">
                <span *ngIf="form.get('observaciones')?.hasError('required') && form.get('observaciones')?.touched">
                  Campo <strong>Requerido</strong>
                </span>
                <span *ngIf="form.get('observaciones')?.hasError('maxlength')">
                  Solo <strong>100 caracteres</strong>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <mat-form-field appearance="fill">
                    <mat-label>Estado</mat-label>
                    <mat-select formArrayName="estado">
                        <mat-option *ngFor="let item of tipoEstado" [value]="item">
                            {{ item }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button type="button" (click)="cancelar()" mat-button>Cancelar</button>
        <button [disabled]="form.invalid" type="submit" mat-button cdkFocusInitial>Aceptar</button>
    </mat-dialog-actions>
</form>