mat-card-title{
    margin-left: 1rem;
}

mat-card-subtitle{
    margin-left: 1rem;
    
}
.container-form{
    width: 800px; //definimos el ancho del contenedor padre
    margin: 0 auto;
}
.add-provider{
    display: grid;
    grid-template-columns: repeat(2, 1.5fr); //establece dos columnas
    grid-auto-rows: 80px;
    column-gap: 10px;
    row-gap: 5px;
     
}

mat-dialog-actions{
    justify-content:right;

    .btn-saved:not([disabled]) {
        background: linear-gradient(to bottom, #ff0844 0%, #ffb199 100%);
        color: aliceblue;
    }

    .btn-cancel {
        background: linear-gradient(-22deg, #29323c 0%, #485563 100%);
        color: aliceblue;
       
    }

}


//::ng-deep .mdc-text-field--outline:not(.mdc-text-field)