mat-toolbar {
    border: .01rem solid #738092;
    border-radius: 10px;
}
.mdc-button {
    background: linear-gradient(to bottom, #ff0844 0%, #ffb199 100%);
    margin: 0 1rem 1rem 0;

}
mat-card{
    width: auto; 
    height: auto; 
   
}

mat-card-content {
 
    .reportForm {
        width: 100%;
        .campos {
            display: grid;
            grid-template-columns: repeat(2, 1.5fr);
            grid-auto-rows: 80px;
            column-gap: 10px;
            row-gap: 10px;
            margin: 0 auto;
        }
       
        .textarea{
            min-height: 100px;
            max-height: 200px;
            width: 100%;
            resize: none;
            overflow-y: auto;
            
        }
    }

}
.textarea::-webkit-scrollbar {
    width: 5px;
}
.mat-mdc-dialog-content{
    max-height: calc(100% - 70vh);
}

mat-card-actions {
    display: flex;
    justify-content: flex-end; 
    margin-top: 10px;
    .btn-cancel-dialog {
        background: linear-gradient(-22deg, #29323c 0%, #485563 100%);
        color: aliceblue;
        margin-right: 0.5rem;
    }
}
