.mdc-button {
    background: linear-gradient(to bottom, #ff0844 0%, #ffb199 100%);
    margin: 0 1rem 1rem 0;
}

mat-icon {
    color: #ff0844;
}

.add-customer {
    color: #fafafa !important;
}

.content-table {
    margin-top: 1rem;
}

.table-header {
    text-align: center;
    width: 200px;
}

.user-id {
    width: 50px;
}

.mat-mdc-cell {
    text-align: center;
}

mat-toolbar {
    border: .01rem solid #738092;
    border-radius: 10px;
}

.messageNull {
    background-color: lightgray;
    color: #29323c;
    border-radius: 5px;
    text-align: center;
    width: 50%;
    margin: 20px auto;
    height: 6%;
    padding-top: 1%;
    border: 1px double;
}
